/* BUTTON */

.buttonClass {
    color: var(--very-light-green);
    font-size: 1rem;
    font-weight: 500;
    padding: 10px;
    background: var( --navy-blue);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* INPUT FIELD */
.inputField {
    height: 40px;
    font-size: 1rem;
    padding: 0 10px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #bcbcbc;
  }

  /* Date Picker */

.datePickerBox {
    position: relative;
}

.datePickerBox .calendarIcon {
    position: absolute;
    color: var(--gray-500);
    padding: 0 5px;
    top: 10px;
    left: 5px;
}

.datePickerBox input.active {
    background: none;
}

