.container {
  margin: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: var(--very-light-green);
}

/* LOGIN FORM STYLE */

.container .loginFormContainer {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 8px 0 #0000001a;
  display: flex;
  flex-direction: column;
  gap: 33px;
  height: auto;
  max-width: 445px;
  padding: 38px 20px;
  margin: auto;
}

.container .loginFormContainer .loginForm {
  display: flex;
  flex-direction: column;
  gap: 33px;
  height: auto;
}

.container .loginFormContainer .loginForm .row1 .row1 {
  text-align: center;
}

.container .loginFormContainer .loginForm .row2,
.container .loginFormContainer .loginForm .row3 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputField {
  height: 40px;
  font-size: 1rem;
  padding: 0 10px;
  outline: none;
  border-radius: 3px;
  border: 1px solid #bcbcbc;
}

.error {
  color: red;
}

/*-------------------- LOGIN FORM STYLE MEDIA QUERY ------------------------------*/
@media only screen and (max-width: 500px) {
  .container .loginFormContainer {
    margin: auto 16px;
  }
}


/* END LOGIN FORM STYLE */